@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  @apply h-full;
}

* {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .skeleton {
    animation: shimmerEffect 1.5s infinite;
    background: linear-gradient(-90deg, #e8e8e8 25%, #f8f8f8 50%, #e8e8e8 75%);
    background-size: 200% 100%;
  }

  @keyframes shimmerEffect {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
